@font-face {
    font-family: proxmia nova thin;
    src: url(../css/fonts/Proxima-Nova-Thin\ \(1\).otf);
}
@font-face{
    font-family: gill sans italic;
    src: url(../css/fonts/fonts/Gill-Sans-Font-Family/Gill\ Sans\ Italic.otf);
}
@font-face {
    font-family: proxmia nova ;
    src: url(../css/fonts/fonts/ProximaNovaScOsfExtraCondensed.ttf);
}

@font-face {
    font-family: gill sans reg;
    src: url(../css/fonts/fonts/Gill-Sans-Font-Family/Gill\ Sans.otf);
}